data/cifar-10-python.tar.gz
data/cifar-10-python.tar.gz
Kaggle run 1/data/*.tar.gz
kaggle_run_2/data/*.tar.gz
kaggle_run_2/data/*.tar.gz
Kaggle run 1/data/*.tar.gz
kaggle_run_2/data/*.tar.gz
Kaggle run 1/data/cifar-10-python.tar.gz
Kaggle run 1/data/cifar-10-python.tar.gz
kaggle_run_2/data/cifar-10-python.tar.gz
Kaggle/Kaggle_Run_final/VAE_final_linear/data/cifar-10-python.tar.gz
Kaggle/Kaggle_Run_final/VAE_final_Nathan/data/cifar-10-python.tar.gz
